<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.almasud.shoppinglisttesting">

    <application>
        <activity android:name="com.github.almasud.shoppinglisttesting.HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>